body {
    margin: 0;
    /* font-family: Arimo; */
}

header {
    background-color: #008356;
    height: 101px;
    position: relative;
    min-width: 600px;
}
.title-img {
    background-color: #fff;
}
.page-nav {
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    /* Fix for IE7 */
    
    *display: inline;
    /* Fix for IE7 */
    
    color: white;
    position: absolute;
    right: 10%;
    bottom: 0;
}

.page-nav ul {
    margin-bottom: 0;
}

.page-nav ul li {
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    /* Fix for IE7 */
    
    *display: inline;
    /* Fix for IE7 */

    margin: 0 0 5px;
    padding: 0 10px;
    border-radius: 5px;
}

.page-nav ul li:hover {
    background-color: #6a6;
}

.page-nav ul li a {
    color: white;
    font-size: 18px;
}

.title-img {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    /* Fix for IE7 */
    
    *display: inline;
    /* Fix for IE7 */
    
    ;
    height: 100px;
    margin-left: 10%;
    margin-right: 20px;
}

header h1 {
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    color: white;
    font-family: Pacifico;
    font-size: 36px;
    margin-bottom: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-item {
    margin: 20px 10% 0 10%;
}

.ban-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    /*makes the flex-wrapped items left-align with the rest
     of the container*/
    margin-left: -10px;
}

.banned-site {
    margin-left: 10px;
}

button {
    background-color: #008356;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover {
    background-color: #6a6;
}


.github-logo {
    width: 100px;
    display: inline-block;
    vertical-align: top;
}

.starred-repo {
    display: inline-block;
}

.repos-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -10px;
}

.repo-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 230px;
    margin: 10px;
    position: relative;
}

.repo-name {
    font-size: 16px;
}

.github-not-interested {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.repo-container:hover > .github-not-interested {
    display: inline;
}