body {
    margin: 0;
}

header {
    background-color: #008356;
    height: 101px;
    position: relative;
    min-width: 600px;
    width: 100%;
    display: flex;
}
.header-text {
    color: white;
    display: flex;
    flex-direction: column;
}
.header-text .header-title {
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    /* Fix for IE7 */
    *display: inline;
    /* Fix for IE7 */
    font-family: Pacifico;
    font-size: 36px;
    margin: 0;
}

.header-text .header-subtitle {
    margin: 0;
}
.title-img {
    background-color: #fff;
}
.page-nav {
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    /* Fix for IE7 */
    
    *display: inline;
    /* Fix for IE7 */
    
    color: white;
    position: absolute;
    right: 10%;
    bottom: 0;
}

.page-nav ul {
    margin-bottom: 0;
}

.page-nav ul li {
    display: inline-block;
    vertical-align: bottom;
    zoom: 1;
    /* Fix for IE7 */
    
    *display: inline;
    /* Fix for IE7 */

    margin: 0 0 5px;
    padding: 0 10px;
    border-radius: 5px;
}

.page-nav ul li:hover, .page-nav ul li.current {
    background-color: #FF8C00;
}

.page-nav ul li a {
    color: white;
    font-size: 16px;
}

.title-img {
    display: inline-block;
    vertical-align: top;
    zoom: 1;
    /* Fix for IE7 */
    
    *display: inline;
    /* Fix for IE7 */
    
    ;
    height: 100px;
    margin-left: 10%;
    margin-right: 20px;
}



.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-item {
    width: 80%;
}

.container-row {
    display:flex;
}

.ban-list {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
    /*makes the flex-wrapped items left-align with the rest
     of the container*/
    margin-left: -10px;
}

.banned-site {
    margin-left: 10px;
}

button, .button {
    background-color: #008356;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
}
button:hover, .button:hover {
    background-color: #FF8C00;
}

.btn-red {
    background-color: #f00;
}

.github-logo {
    width: 75px;
    display: inline-block;
    vertical-align: bottom;
}

.starred-repo {
    display: inline-block;
    margin: 0;
}

.alternatives-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.alternative-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 230px;
    margin: 10px;
    position: relative;
}

.alternative-name {
    font-size: 16px;
}

.not-interested {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    color: red;
    cursor: pointer;
    font-weight: bold;
}

.alternative-container:hover > .not-interested {
    display: inline;
}

.align-items-start {
    align-items: flex-start;
}