<!doctype html>
<html>

<head>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body ng-app='LazyHacker'>
    <div class="container" ng-controller='AlternativesController'>
        <h1>Lazy Hacker</h1>
        <div>
            <p ng-repeat='repo in githubStarred'>
                <a href='{{repo.html_url}}'>{{repo.full_name}}</a> - {{repo.description}}
            </p>
        </div>
        <div class="slack-off">
            <a href="{{slackerDest}}" ng-click='procrastinateAnyway();'>No, seriously, take me to {{slackerDest}}</a>
        </div>
    </div>
    <!-- build:js scripts/vendor.js -->
    <script src='bower_components/angular/angular.min.js'></script>
    <!-- bower:js -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/options.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/services/github.js"></script>
    <script src="scripts/alternatives.js"></script>
    <!-- endbuild -->
</body>

</html>