<!doctype html>
<html>

<head>
    <link href="http://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Arimo" rel="stylesheet" type="text/css">

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
    <title>Welcome to Browse Healthy</title>
</head>

<body ng-app='LazyHacker'>
    <header class='title-bar'>
        <img class='title-img' src="images/organic-100.png" alt="">
        <h1 class=''>Browse Healthy</h1>
        <nav class='page-nav'>
            <ul>
                <li><a href="/privacy.html">Privacy</a></li>
                <li><a href="/contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2 class='container-item'>Thanks for installing Browse Healthy!</h2>
        <div class="container-item" ng-controller='OnboardController'>
            <h3>Select some websites to avoid:</h3>
            <form>
                <div>
                    <button ng-click='toggleSelectAll();'>Select {{selectWhat}}</button>
                </div>
                <div class='ban-list'>
                    <p ng-repeat="site in banned" class='banned-site'>
                        <input type='checkbox' ng-model='site.checked' id='{{site.name}}' />
                        <label for='{{site.name}}'>{{site.name}}</label>
                    </p>
                </div>
                <div>
                    <button ng-click='saveBanned();'>Save</button>
                </div>
            </form>
        </div>
    </div>
    <!-- build:js scripts/options-vendor.js -->
    <!-- bower:js -->
    <script src='bower_components/angular/angular.min.js'></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/options.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
</body>
</html>
