<!doctype html>
<html>

<head>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/main.css -->
    <link href="styles/main.css" rel="stylesheet">
    <!-- endbuild -->
</head>

<body ng-app='LazyHacker'>
    <div class="container" ng-controller='SourcesController'>
        <h1>Pick some healthier browsing options:</h1>
        <p>Enter your Github username</p>

        <input type="text" id='gh-username' ng-model='githubUsername' placeholder='Github username'>
        <button ng-click='handleGithubSubmit();'>Next ></button> 
        
    </div>
    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src='bower_components/angular/angular.min.js'></script>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:js scripts/options.js -->
    <script src="scripts/main.js"></script>
    <script src="scripts/select-sources.js"></script>
    <!-- endbuild -->
</body>

</html>